<div id="about">
    <div id="aboutMe">
        <img src="/images/Foto.PNG">
    </div>
    <div id="aboutMe">
        <div id="aboutMeName"> Dev Filipe Ramon</div>
        <div id="aboutMeText">I'm a Full Stack Developer, there 7+ years, with a variable skills.</div>
        <div id="aboutMeText">I love mobile platform, I love work with this.</div>
        <div id="aboutMeText">I never tire of learning.</div>
        <div id="aboutMeText"><i>#javascript #ReactJS #reactNative #nodejs #EJS #Express</i></div>
        <div id="aboutMeText">
            <i><a href="" id="skillsMore">more</a></i>
        </div>
    </div>
</div>