<html>
    <head>
        <title>CV Filipe Ramon</title>
        <link href="/styles/estilos.css" rel="stylesheet">
        <script src="/script/util.js" ></script>
    </head>
    <body>

    <div id="banner">
            <div id="bannerImageFundo">
                <h1>Filipe Ramon de Souza Barbosa</h1>
                <h3>FullStack Developer</h3>
            </div>
        </div>

    <%- include('menu') %>

    <div id="container">