<%- include('header') %>

<div id="banner">
    <div id="bannerImageFundo">
        <h1>Filipe Ramon de Souza Barbosa</h1>
        <h3>FullStack Developer</h3>
    </div>
</div>

<%- include('menu') %>

<%- include('about') %>

<%- include('footer') %>