<div id="menu">
    <h3 id="menuItem" onclick="fadeInOut('/', 'containerAbout')">
        Home
    </h3>
    <h3 id="menuItem" onclick="fadeInOut('/about/skills', 'containerSkills')">
        Skills
    </h3>
    <h3 id="menuItem" onclick="window.location.href='/about/contact', 'containerContact'">
        Contact
    </h3>
</div>