<div id="menu">
    <h3 id="menuItem" onclick="window.location.href='/'">
        Home
    </h3>
    <h3 id="menuItem" onclick="window.location.href='/about/skills'">
        Skills
    </h3>
    <h3 id="menuItem" onclick="window.location.href='/about/contact'">
        Contact
    </h3>
</div>