<div id="menu">
    <h3 id="menuItem">
        <a href="/">Home</a>
    </h3>
    <h3 id="menuItem">
        <a href="/about/skills">Skills</a>
    </h3>
    <h3 id="menuItem">
        <a href="">Contact</a>
    </h3>
</div>