<%- include('../header') %>

<%- include('../menu') %>

<!-- Start Include skills-->

<div id="skills">

    <div id="aboutMeName"> Empresa X</div>

</div>

<!-- End Include skills-->

<%- include('../footer') %>