<%- include('../header') %>

<%- include('../menu') %>

<!-- Start Include skills-->

<div id="skills">

    <div id="aboutMeName"> Experiences and Skills</div>

    <ul id="skillsList">
        <li>
            <div id="skillsLine">FullStack Developer at Grupo Marquise ( 2016 - Actual )</div>
            <div id="skillsSubLine">
                <i>#JavaScript | #NodeJs | #ReactNative | #MongoDB | #Angular | #Java | #Git</i>
            </div>
            <div id="skillsMore">
                <a href="">more...</a>
            </div>
        </li>
        <li>
            <div id="skillsLine">Mobile Developer at GreAt - UFC ( 2015 )</div>
            <div id="skillsSubLine">
                <i>#Java | #Android | #Git | #Gerrit | #Jenks</i>
            </div>
            <div id="skillsMore">
                <a href="">more...</a>
            </div>
        </li>
        <li>
            <div id="skillsLine">FullStack Developer at Três Corações Alimentos S/A ( 2012 - 2014 )</div>
            <div id="skillsSubLine">
                <i>#Java | #Android | #C# | #ActionScript | #Flex</i>
            </div>
            <div id="skillsMore">
                <a href="">more...</a>
            </div>
        </li>
    </ul>
</div>

<!-- End Include skills-->

<%- include('../footer') %>