#banner {
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: center;
    background-color: teal
}

#footer {
    text-align: center;
    background-color: teal;
}

#footer h4 {
    color: aliceblue;
    padding: 5px;
}

#banner h1 {
    color: aliceblue
}

#banner h3 {
    color: aliceblue
}

#menu {
    display: flex;
    background-color: #175f5f;
    position: relative;
}

#menuItem {
    flex: 1;
    text-align: center;
    color: aliceblue;
    align-self: center;
    padding: 15px;
    margin: 0px;
    transition: all .5s ease;
}

#menu #menuItem:hover {
    background-color: #194b4b;
    cursor: pointer;
}

#about {
    display: flex;
    flex-direction: row;
}

#aboutMe {
    flex: 1;
    margin: 5px;
    text-align: right;
    padding: 50px;
}

#aboutMeName {
    text-align: left;
    padding: 10px;
    font-size: 60px;
}

#aboutMeText {
    text-align: left;
    padding: 5px;
    font-size: 22px;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skillsList {
    flex: 1;
    font-size: 28px;
}

#skillsLine {
    padding: 10px
}

#skillsSubLine {
    font-size: 20px;
    margin-left: 10px;
}

#skillsMore a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
}

#skillsDescription {
    width: 800px;
    font-size: 23px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

#contactBody {
    flex: 1;
    width: 800px;
    font-size: 16px;
}


/*Button Style*/

.button {
    display: inline-block;
    background-color:  #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #008CBA;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/*Button Style*/